body{
    background-image: url("../img/zapato_elegante.jpeg");
}
.form-register{
	width: 400px;
	background:darkred;
	padding: 30px;
	margin: auto;
	margin-top: 40px;
	border-radius: 4px;
	font-family: fantasy;
	color: white;
	box-shadow: 7px 13px 37px #000; 
}
.form-register h4{
	font-size: 22px;
	margin-bottom: 20px;
}
.controls{
	text-align:center; 
	width: 100%;
	background:#24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border:1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
	color:white;
}
.form-register p{
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
.form-register a{
	color: white;
	text-decoration: none;
}
.form-register a:hover{
	color: white;
	text-decoration: underline;
}
.form-register .botons{
	width: 100%;
	height: 120%;
	background: whitesmoke;
	border: none;
	padding: 4px;
	color: black;
	margin: 16px 0;
	font-size: 16px;
}