
.icon-menu:before { content: '\e800'; } /* '' */
.icon-googleplus:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */